<div class="posts">
  <% @posts.each do |post| %>
  <% if post.image_url %>
  <section class="post">
    <div class="user">
      <div class="avatar">
        <img src="https://sun2.6789.userapi.com/s/v1/if2/S--vG50MaJ-wpl8BX4g-aMmaRBLhCFKU0vSRU8r2-5NQk-PeSJqbhX-C4vg4cpwXp8dL1waPTVUi7xV-ZbNt8Zlu.jpg?size=200x0&quality=96&crop=150,442,1524,1524&ava=1">
      </div>
      <div class="username">
        <%= post.user.username %>
      </div>
    </div>
    <%= image_tag post.image_url, class: 'main-image' %>
    <div class="description">
      <%= post.description %>
    </div>
  </section>
  <% end %>
  <% end %>
</div>
