<%= form_for @post, html: { multipart: true } do |f| %>
  <p>
    
    <div class="form-group">
    <%= f.file_field :image %>
    </div>
    <div class="form-group">
    <%= f.hidden_field :image_cache %>
    </div>
    <div class="text-center">
    <%= f.submit 'Create Post', class: 'btn btn-primary' %>
    </div>
  </p>
<% end %>
