@import "bootstrap";
@import "font-awesome";
@import "users";


.container{
  max-width: 1000px;
}
.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.user-section{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}
.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}
.form-upload{
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;
  input[type='text']{
    width: 100%;
  }
}


.user-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;

.wrapper{
    width: 280px;
    height: 280px;
    margin: 15px;
    img{
      width: 100%;
      border-radius: 4%;
    }
  }
}
.comment{
  margin-left: 20px;
}
